@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: "Fifty";
  src: url("../public/aAntaraDistance.ttf");
}

:root {
  --goldish: #e2cc9c;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* div {
  border: solid red 2px;
} */

/* .wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  transform-style: preserve-3d;
  perspective: 10px;
  position: relative;
}

.header-flowers {
  transform: translateZ(-5px);
}

.title-items {
  transform: translateZ(-10px) scale(2);
} */

.rsvp {
  font-family: 'Bebas Nueue';
}

.slider {
  transition: 0.4s;
}

.slider:before {
  transition: 0.4s;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.switch input:checked + .slider {
  background-color: var(--goldish);
}

/* .preloader {
  background: linear-gradient(0deg, #ed7781, #fce6e7);
  background-size: 200% 200%;

  -webkit-animation: Gradient 5s ease-in-out infinite;
  -moz-animation: Gradient 5s ease-in-out infinite;
  animation: Gradient 5s ease-in-out infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:50% 0%}
  25%{background-position:50% 75%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes Gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes Gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
} */

.heart:before , .heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: var(--goldish);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.heart:after{
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}

.spinner {
  margin: 50px auto 0;
  width: 100%;
  text-align: center;
}

.spinner .heart {
  width: 50px;
  height: 45px;
  display: inline-block;
  opacity:0.8;
  
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.heart:before , .heart:after {
  background: var(--goldish);
}
.spinner .heart1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .heart2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}