@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fifty";
  src: url("../public/aAntaraDistance.ttf");
}

:root {
  --goldish: #e2cc9c;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* div {
  border: solid red 2px;
} */

/* .wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  transform-style: preserve-3d;
  perspective: 10px;
  position: relative;
}

.header-flowers {
  transform: translateZ(-5px);
}

.title-items {
  transform: translateZ(-10px) scale(2);
} */


